img.self {
    width: 40%;
    height: auto;
    min-width: 150px;
    float: left;
    margin-right:2rem; 
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
}

.hello {
    margin-top: 50px;
    margin-bottom: 0px;
}