#contact input,#contact textarea {
    margin-bottom: 1rem;
}

.contact a {
    color: black;
}

.card {
    box-shadow: 0px 1px 5px #a5a5a5;
}

.tenor-gif-embed {
    display: none;
    height: 400px;
}

.text-danger, .text-primary {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}