.component-title {
    margin-top: 80px;
    margin-bottom: 50px;
}

.card-header {
    font-weight: bold;
}

.card-header i {
    margin-left: 10px;
}

.card {
    box-shadow: 0px 1px 5px #a5a5a5;
    text-align: center;
}

.actions ul {
    padding-left: 0;
}

.actions li {
    display: block;
    margin-bottom: 0.5rem;
}

.actions i {
    margin-right: 5px;
}

.operate.component-title {
    margin-top: 31px;
}

.list-group-item {
    box-shadow: 0px 1px 5px rgba(0,0,0,.1);
    margin-bottom: 3px;
    border-radius: 0.25rem;
    background-color: rgba(0,0,0,.03);
}

.btn-shadow {
    width: fit-content;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 5px;
}

.btn-shadow:hover {
    box-shadow: 0px 1px 9px;
}

.btn-primary:hover {
    background-color: #0085ff;
    border-color: #0085ff;
}