.nav-logo {
    max-height: 60px;
}

.container .navbar {
    padding: .5rem 0;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer a {
    display: inline-block;
    color: white;
    padding: 1rem .5rem;
}

footer a:hover {
    color: white;
}

.footer-right a {
    padding-left: 0px;
    text-decoration: underline;
}

footer .right {
    text-align: right;
}

footer i {
    font-size: 16px;
}

a.white-link {
    color: white;
    text-decoration: underline;
}

.nav-item.active > .nav-link {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (min-width: 576px) and (max-width: 991px) {
    footer .col-sm:last-of-type {
        margin-top: 15px;
    }

    .footer-right a {
        padding-right: 0;
    }

    footer .col-sm:first-of-type li:last-of-type a {
        padding-top: 0;
    }
}

@media (max-width: 575px) {
    footer .col-sm {
        text-align: center;
    }
}